# Dev
black>=24.4.0
mypy>=1.9.0
pylint>=3.1.0
pytest>=8.1.1

# Project
duneapi==6.0.0
dune_client>=1.7.0
python-dotenv>=0.21.1
requests>=2.31.0
web3>=6.17.2
psycopg2-binary>=2.9.9
SQLAlchemy>=2.0.29
pandas>=2.2.2
click>=8.1.7
marshmallow>=3.14.1
xlsxwriter>=3.1.4
tqdm>=4.65.2
